{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zenko</title>
    <link href="{% static 'foodord.css' %}" rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <div id="logo"><img src="{% static 'Zenko_logo.png' %}" alt="zenko foods.com"></div>
        <ul>
            <li ><a  href="/">Home</a></li>
            <li><a  href="services" >Services</a></li>
            <li><a class="active"href="aboutus">About us</a></li>
            <li><a href="contactus">Contact us</a></li>
    
    
        </ul>
    
    </nav>
    <div class="box">
        <p>
            At Zenko, we are not just in the business of food; we are in the business of crafting unforgettable culinary
            experiences. Our story is one of passion, creativity, and an unwavering commitment to quality. Here, we
            invite you to journey with us through the art of food and discover what sets Zenko apart from the rest.
        </p>
        <p>Our Philosophy:
            At the heart of Zenko lies a profound philosophy – a belief that food is not just nourishment for the body
            but an expression of culture, artistry, and love. We see every dish as an opportunity to blend diverse
            flavors, techniques, and traditions to create something truly exceptional. Our culinary team, comprised of
            skilled chefs from around the world, approaches each creation as a masterpiece, infusing it with their
            expertise and creativity.</p>
        <p>
            The Zenko Experience:
            Whether you are planning an intimate gathering, a grand celebration, or simply seeking a gourmet meal at
            home, Zenko is your trusted partner. Our catering services are designed to turn your event into a culinary
            spectacle. From meticulously curated menus to impeccable presentation, we ensure that every aspect of your
            dining experience is a testament to excellence.
        </p>
    </div>

</body>

</html>