{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zenko</title>
    <link href="{% static 'foodord.css' %}" rel="stylesheet">
</head>
<body>
    <nav id="navbar">
        <div id="logo"><img src="{% static 'Zenko_logo.png' %}" alt="zenko foods.com"></div>
        <ul>
            <li ><a  href="/">Home</a></li>
            <li><a  href="services" >Services</a></li>
            <li><a href="aboutus">About us</a></li>
            <li><a class="active" href="contactus">Contact us</a></li>
    
    
        </ul>
    </nav>   
    
    <div class="main">
       
    
    <div class="contact">
        <p>Email:zenkofoods33@gmail.com</p>
        <p>contact no:9980144362</p>
    </div>

    </div>
</body>
</html>