{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zenko</title>
    <link href="{% static 'foodord.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="search">
        
            <input type="text" placeholder="search">
            <i class="fa fa-search"></i>
    </div>
    <div class="cat">
        <h2>what's on your mind</h2>
        <div class="inner">

            <div class="box1"><img src="{% static 'biryani.png' %}" alt=""></div>
            <div class="box1"><img src="{% static 'Burger.png' %}" alt=""></div>
            <div class="box1"><img src="{% static 'Chinese.png' %}" alt=""></div>
            <div class="box1"><img src="{% static 'Pizza.png' %}" alt=""></div>
            <div class="box1"><img src="{% static 'Shawarma.png' %}" alt=""></div>
           
        </div>
    </div>

</body>

</html>