{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zenko</title>
    <link href="{% static 'foodord.css' %}" rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <div id="logo"><img src="{% static 'Zenko_logo.png' %}" alt="zenko foods.com"></div>
        <ul>
            <li ><a  href="/">Home</a></li>
            <li><a class="active" href="services" >Services</a></li>
            <li><a href="aboutus">About us</a></li>
            <li><a href="contactus">Contact us</a></li>
    
    
        </ul>
    
    </nav>
    <div class="container">
        <div class="in">
            <div class="logo"><img src="{% static 'catern.png' %}" alt="zenko"></div>
            <p>Zenko Catering specializes in creating exquisite culinary experiences, blending diverse flavors and
                culinary traditions to cater to your unique palate. </p>

        </div>
        <div class="in">
            <div class="logo"><img src="{% static 'bulkn.png' %}" alt="zenko"></div>
            <p>Zenko Bulk Ordering offers convenience and quality in large quantities, perfect for businesses, events,
                and gatherings. </p>
        </div>
        <div class="in">
            <div class="logo"><img src="{% static 'fordern.png' %}" alt="zenko"></div>
            <p>
                Zenko Food Ordering brings gourmet cuisine right to your doorstep. Explore our diverse menu of
                chef-crafted dishes, easily place your order online</p>
        </div>
    </div>

</body>

</html>